:root {
  --color-white: #ffffff;
  --color-primary: #309689;
  --color-primary-hover: #1c786b;
  --color-black: #000000;
  --color-gray: #808080;
}

body {
  margin: 0;
  padding: 0;

}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}