<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
</head>
<body>
    {{.Count}} - число пользователей
    <br />
    {{ if .IsAdmin}}
        <p>You admin</p>
    {{ else }}
        <p>You not admin</p>
    {{ end }}
    <br >
    {{ if eq .Count 0 }}
    <p>No users</p>
    {{ else if lt .Count 10 }}
    <p>Users less then 10</p>
    {{ else }}
    <p>Users more then 10</p>
    {{end}}
    <br />
    {{ if and .IsAdmin .CanUse }}
    <small>Admin and can use</small>
    {{end}}

</body>
</html>