package layout

import "fmt"

css headerClass(percent int) {
  background: {"#f2f2f2"};
  width: { fmt.Sprintf("%d%%", percent)};
}

templ Header() {
  <div class={headerClass(50)}>
    { children... }
  </div>
}