package layout

css headerClass() {
  background: {"#222222"};
  text-align: {"center"};
  padding: {"10px"};
  
}

templ Header() {
  <div class={headerClass()}>
    @Menu()
    { children... }
  </div>
}