package layout


templ Header() {
  @HeaderStyle()
  <div class="header">
    @Menu()
    { children... }
  </div>
}

templ HeaderStyle() {
  <style>
    .header {
      text-align: center;
      background-color: #222222;
    }
  </style>
}